/*Sub menu*/
/*.custom-submenu ul{
  display: none;
  position: absolute;
  margin-top: 1px;
  left: -1px;
}

.custom-submenu :hover ul{
  display: block;
  z-index: 101;
  overflow: auto;
}*/



/*
Add transition to containers so they can push in and out.
*/

/*my CSS*/
.snipcart-add-item{
  background: url('../img/add_to_cart.jpg');
  width: 390px;
  height: 50px;
}

.gcm-nav {
  text-align: left;
}
.button-success {
    background: rgb(66, 184, 221);
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.gcm-nav li a {
  font-size: 12px;
  color: white;
}
.gcm-nav li a:hover {
  color: #0085DA;
  background-color: #181c1e;
}
.gcm-nav li a:visited {
  color: white;
  background-color: #181c1e;
}

.my-downloads ul {
  padding-top: 20px;
}
.container-fluid {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}
.pist-submenu {
  margin-top:-16px;
  background-color:#e1e9ee;
  margin-left:125px;
  margin-right:155px;
}
.my_ex_body{
  margin-left: 140px;
  margin-right: 140px;
  background-color: white;
}
.pist-header{
  background-color: #f9fafc;
  height: 100px;
  line-height: 60px;
}
.text-center {
  text-align: center;
}
.my-footer{
  background-color: #181c1e;
  bottom:0;
  /*height:100px;*/
  margin: auto;
  text-align: center;
}
.footer-content{
  color: white;
  padding: 20px;
}
.pist-borderbutton{
  background-color: white;
  color: black;
  border: 2px solid #3b8bba;
  display: inline;
  padding: 10px;
}
.my_ex_body_product{
  padding-left: 80px;
  padding-right: 30px;
  padding-top: 10px;
  margin-left: 140px;
  margin-right: 140px;
  background-color: white;
}







/*End My CSS*/
.header {
     margin: 0;
     color: #333;
     text-align: center;
     padding: 2.5em 2em 0;
     border-bottom: 1px solid #eee;
 }
    .header h1 {
        margin: 0.2em 0;
        font-size: 3em;
        font-weight: 300;
    }
     .header h2 {
        font-weight: 300;
        color: #ccc;
        padding: 0;
        margin-top: 0;
    }

    .header {
      font-family: "Raleway", Helvetica, Arial, sans-serif;
      background-color: #f9f9f9;
    }

    a {
      color: #3b8bba;
      text-decoration: none;
    }
    a:hover,
    a:focus {
      text-decoration: underline;
    }
    a:visited {
      color: #265778;
    }

.ul-fontawsme h3 {
  font-size: 20px;
  font-weight: 400px;
  background-color: white;
  color: #0085DA;
}
.my-partial-addtocart li {
  list-style: none;
  margin: 0.1em;
  margin-left: 1em;
}
.my-partial-addtocart li:before{
  content: '\f058';
  font-family: 'FontAwesome';
  /*background-color: #00B900;*/
  float: left;
  color: #0085DA;
  margin-left: -1.5em;
}

.ul-fontawsme li{
  list-style: none;
  margin: 0.1em;
  margin-left: 1em;
}
.ul-fontawsme li:before{
  content: '\f055';
  font-family: 'FontAwesome';
  /*background-color: #00B900;*/
  float: left;
  color: #00B900;
  margin-left: -1.5em;
}
.ul-fontawsme-cons li{
  list-style: none;
  margin: 1em;
  margin-left: 1em;
}
.ul-fontawsme-cons li:before{
  content: '\f056';
  font-family: 'FontAwesome';
  /*background-color: #E50000;*/
  color:#E50000;
  float: left;
  margin-left: -1.5em;
}
.ul-fontawsme ul {
  padding-top: 27px;
}

.my-table table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.my-table td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.borderless td, .borderless th {
    border: none;
}
.borderless tr:nth-child(even) {
  background-color: #f5f6f8;
}
.borderless-1 td, .borderless-1 th {
    border: none;
}
.dropdown-submenu {
    position: relative;
    z-index: 1;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

.gcm-header-list{
  color: black;
  padding: 4px;
  font-size: 14px;
}

.fixed-my-menu{
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

.home_page{
  /*height: 600px;*/
}

.my_content{
  background-color: #7a8690;
  margin-bottom: 0px;
  margin-top: 159px;
}

.container{
  background-color: white;
}

.my-submenu{
  padding-right: 0px;
  padding-left: 0px;
  background-color: #7a8690;
}

.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}
.owl-image img {
  height: 43px;
  width: 227px;
  margin-top: -14px;
}

.my-active{
  font-size: 20px;
  font-weight: 400px;
  background-color: white;
  color: #0085DA;
}

.btn-primary.btn-outline {
    color: #428bca;
}


.btn-primary.btn-outline:hover{
    color: #fff;
}

/*Filter CSS*/
.filter{
  /*border-color: #2196F3;*/
  border: 1px solid #2196F3;
}
.gcm-brand a {
  color: black;
}
.gcm-brand a:visited {
  color: black;
}
.gcm-brand a:hover {
  color: white;
  background-color: #0085DA;
}
/*Container CSS*/
.my_content{

}

.gcm-header{
  color: black;
  padding: 4px;
}
.padding-top{
  padding-top: 1cm;
}
.image-box-product{
  padding: 10px;
  margin: 4px;
}
.padding-top-change{
  padding-top: 0cm;
}

  @media only screen and (max-width: 500px){
    .padding-top-change{
      padding-top: 1cm;
    }
  }

  @media only screen and (max-width: 800px){
    .padding-top-change{
      padding-top: 1cm;
    }
  }

  @media screen and (min-width: 1024px) and (max-width: 1025px){

  }
/*Footer CSS*/
.footer_title{
  color: white;
  text-align: center;
}
footer{
  border: 2px solid black;
  background-color: #181c1e;
  /*position: fixed;*/
  bottom:0;
  width:100%;
  height:250px;   /* Height of the footer */
  margin: auto;
  padding: 20px;
}

      /*Pure Menu Css*/
      .custom-wrapper {
          background-color: #7a8690;
          margin-bottom: 1em;
          color: white;
          -webkit-font-smoothing: antialiased;
          height: 6.1em;
          overflow: hidden;
          -webkit-transition: height 0.5s;
          -moz-transition: height 0.5s;
          -ms-transition: height 0.5s;
          transition: height 0.5s;
      }

      .main-menu{
        margin-top: 46px;
      }

      .menu-color-white{
        color: white;
      }
      .menu-item-main a {
        color: white;
      }
      .menu-item-main a:visited{
        color: white;
        background-color: black;
      }
      .menu-item-main a:active{
        color: blue;
      }
      .menu-item-main a:hover{
        color: white;
        background-color: black;
      }

      .custom-wrapper.open {
          height: 16em;
      }

      .custom-menu-3 {
          text-align: right;
      }

      .custom-toggle {
          width: 34px;
          height: 34px;
          position: absolute;
          top: 0;
          right: 0;
          display: none;
      }

      .custom-toggle .bar {
          background-color: #777;
          display: block;
          width: 20px;
          height: 2px;
          border-radius: 100px;
          position: absolute;
          top: 18px;
          right: 7px;
          -webkit-transition: all 0.5s;
          -moz-transition: all 0.5s;
          -ms-transition: all 0.5s;
          transition: all 0.5s;
      }

      .custom-toggle .bar:first-child {
          -webkit-transform: translateY(-6px);
          -moz-transform: translateY(-6px);
          -ms-transform: translateY(-6px);
          transform: translateY(-6px);
      }

      .custom-toggle.x .bar {
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
      }

      .custom-toggle.x .bar:first-child {
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
      }

      @media (max-width: 47.999em) {

          .custom-menu-3 {
              text-align: left;
          }

          .custom-toggle {
              display: block;
          }
          .main-menu1{
            margin-top: 0px;
          }
      }
/*Product Css*/
.product-box {
  padding: 0;
  border: 0px solid #e7eaec;
}
.product-box:hover,
.product-box.active {
  /*border: 1px solid transparent;*/
  /*-webkit-box-shadow: 0 3px 7px 0 #a8a8a8;
  -moz-box-shadow: 0 3px 7px 0 #a8a8a8;
  box-shadow: 0 3px 7px 0 #a8a8a8;*/
}
.product-imitation {
  text-align: center;
  /*padding: 90px 0;*/
  background-color: white;
  color: #bebec3;
  font-weight: 600;
}
.cart-product-imitation {
  text-align: center;
  padding-top: 30px;
  height: 80px;
  width: 80px;
  background-color: #f8f8f9;
}
.product-imitation.xl {
  padding: 120px 0;
}
.product-desc {
  padding-top: 20px;
  padding-left: 44px;
  padding-right: 44px;
  position: relative;
}
.ecommerce .tag-list {
  padding: 0;
}
.ecommerce .fa-star {
  color: #d1dade;
}
.ecommerce .fa-star.active {
  color: #f8ac59;
}
.ecommerce .note-editor {
  border: 1px solid #e7eaec;
}
table.shoping-cart-table {
  margin-bottom: 0;
}
table.shoping-cart-table tr td {
  border: none;
  text-align: right;
}
table.shoping-cart-table tr td.desc,
table.shoping-cart-table tr td:first-child {
  text-align: left;
}
table.shoping-cart-table tr td:last-child {
  width: 80px;
}
.product-name {
  font-size: 16px;
  font-weight: 600;
  color: #676a6c;
  display: block;
  margin: 2px 0 5px 0;
}
.product-name:hover,
.product-name:focus {
  color: #1ab394;
}
.product-price {
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  background-color: #1ab394;
  padding: 6px 12px;
  position: absolute;
  top: -32px;
  right: 0;
}
.product-detail .ibox-content {
  padding: 30px 30px 50px 30px;
}
.image-imitation {
  background-color: #f8f8f9;
  text-align: center;
  padding: 200px 0;
}
.product-main-price small {
  font-size: 10px;
}
.product-images {
  margin: 0 20px;
}

.ibox {
  clear: both;
  margin-bottom: 25px;
  margin-top: 0;
  padding: 0;
}
.ibox.collapsed .ibox-content {
  display: none;
}
.ibox.collapsed .fa.fa-chevron-up:before {
  content: "\f078";
}
.ibox.collapsed .fa.fa-chevron-down:before {
  content: "\f077";
}
.ibox:after,
.ibox:before {
  display: table;
}
.ibox-title {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #ffffff;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 3px 0 0;
  color: inherit;
  margin-bottom: 0;
  padding: 14px 15px 7px;
  min-height: 48px;
}
.ibox-content {
  background-color: #ffffff;
  color: inherit;
  padding: 15px 20px 20px 20px;
  border-color: white;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0;
}
.ibox-footer {
  color: inherit;
  border-top: 1px solid #e7eaec;
  font-size: 90%;
  background: #ffffff;
  padding: 10px 15px;
}
