<header>
	<h5 class="text-center gcm-header">Filter for: {{ .Title }}</h5>
</header>

<main class="">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center gcm-header">
          <u>Series</u>
        </div>
        <div class="" id="my_series">

        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <div class="text-center gcm-header">
          <u>Sub-series</u>
        </div>
        <div class="" id="my_suseries">

        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <div class="text-center gcm-header">
          <u>Platform</u>
        </div>
        <div class="" id="my_platform">

        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <div class="text-center gcm-header">
          <u>Engine</u>
        </div>
        <div class="" id="my_engine">

        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <div class="text-center gcm-header">
          <u>Year</u>
        </div>
        <div class="" id="my_year">

        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <div class="text-center gcm-header">
          <u>Manual Type</u>
        </div>
        <div class="" id="my_manual">

        </div>
      </div>
    </div>
  </div>
  <br>
</main> <!-- cd-main-content -->
