<script type="text/javascript">
  var client = algoliasearch("YZO8M6AZ6J", "74516bbcef74ec917e2acbcd0df2df0f");
  var index = client.initIndex('carmanualslib');
  var searchBrand = $("#display_brand").val();

  $(document).on('keyup', '#searchbox', function() {
    var searchvalue = $(this).val();
    var searchBrand = $("#display_brand").val();
    if(searchBrand){
      // alert("serach wid brand");
      var MainSearch = []
      var BrandSearch = [], BrandArray = [];
      var SeriesSearch = [], SeriesArray = [];
      var EngineSearch = [], EngineArray = [];
      var YearSerach = [], YearArray = [];
      var PlatformSearch = [], PlatformArray = [];

      BrandSearch.push("manualMake:"+searchBrand);
      // $('.brand').each(function(){
      //   if (this.checked) {
      //     BrandArray.push($(this).val());
      //   }
      // });
      $('.series').each(function(){
        if (this.checked) {
          SeriesSearch.push("manualSerie:"+$(this).val());
          SeriesArray.push($(this).val());
        }
      });
      $('.engine').each(function(){
        if (this.checked) {
          EngineSearch.push("manualSerie:"+$(this).val());
          EngineArray.push($(this).val());
        }
      });
      $('.manualyear').each(function(){
        if (this.checked){
          YearSerach.push("manualYear:"+$(this).val());
          YearArray.push($(this).val());
        }
      });
      $('.platform').each(function(){
        if (this.checked){
          PlatformSearch.push("manualPlatform:"+$(this).val());
          PlatformArray.push($(this).val());
        }
      });

      MainSearch.push(BrandSearch);
      MainSearch.push(SeriesSearch);
      MainSearch.push(EngineSearch);
      MainSearch.push(YearSerach);
      MainSearch.push(PlatformSearch);
      console.log(MainSearch);

      index.search({
        query: searchvalue,
        facetFilters: MainSearch,
        facets: ['manualMake','manualSerie','algoliaYears','algoliaPlatform','algoliaEngine']
      }).then(res => {
        console.log(res);
        var prodcuct = ""
        $.each(res.hits, function( i, val ){
          prodcuct += "<div class='pure-u-1-3'>"+
            "<div class='ibox'>"+
              "<div class='ibox-content product-box'>"+
                "<div class='product-imitation'>"+
                  "<a href='/"+val['url']+"/'><img src='"+val['imageCoverCatalog']+"' style='width:235px;height:401px;' alt='' ></a>"+
                "</div>"+
                "<div class='product-desc-cat'>"+
                  "<small class='text-muted'></small>"+
                  "<a href='/"+val['url']+"/' class='product-name'>"+val['manualTitle']+"</a>"+
                  "<p>Price: "+val['dataItemPrice']+"</p>"+
                "</div>"+
              "</div>"+
            "</div>"+
          "</div>";
        });
        $("#productdata").html(prodcuct);
      })
    }else{
      var MainSearch = []
      var BrandSearch = [], BrandArray = [];
      var SeriesSearch = [], SeriesArray = [];
      var EngineSearch = [], EngineArray = [];
      var YearSerach = [], YearArray = [];
      var PlatformSearch = [], PlatformArray = [];

      $('.brand').each(function(){
        if (this.checked) {
          BrandSearch.push("manualMake:"+$(this).val());
          BrandArray.push($(this).val());
        }
      });
      $('.series').each(function(){
        if (this.checked) {
          SeriesSearch.push("manualSerie:"+$(this).val());
          SeriesArray.push($(this).val());
        }
      });
      $('.engine').each(function(){
        if (this.checked) {
          EngineSearch.push("algoliaEngine:"+$(this).val());
          EngineArray.push($(this).val());
        }
      });
      $('.manualyear').each(function(){
        if (this.checked){
          YearSerach.push("algoliaYears:"+$(this).val());
          YearArray.push($(this).val());
        }
      });
      $('.platform').each(function(){
        if (this.checked){
          PlatformSearch.push("algoliaPlatform:"+$(this).val());
          PlatformArray.push($(this).val());
        }
      });

      MainSearch.push(BrandSearch);
      MainSearch.push(SeriesSearch);
      MainSearch.push(EngineSearch);
      MainSearch.push(YearSerach);
      MainSearch.push(PlatformSearch);

      index.search({
        query: searchvalue,
        facetFilters: MainSearch,
        facets: ['manualMake','manualSerie','algoliaYears','algoliaPlatform','algoliaEngine']
      }).then(res => {
        console.log(res);
        var prodcuct = ""
        $.each(res.hits, function( i, val ){
          prodcuct += "<div class='pure-u-1-3'>"+
            "<div class='ibox'>"+
              "<div class='ibox-content product-box'>"+
                "<div class='product-imitation'>"+
                  "<a href='/"+val['url']+"/'><img src='"+val['imageCoverCatalog']+"' style='width:235px;height:401px;' alt='' ></a>"+
                "</div>"+
                "<div class='product-desc-cat'>"+
                  "<small class='text-muted'></small>"+
                  "<a href='/"+val['url']+"/' class='product-name'>"+val['manualTitle']+"</a>"+
                  "<p>Price: "+val['dataItemPrice']+"</p>"+
                "</div>"+
              "</div>"+
            "</div>"+
          "</div>";
        });
        $("#productdata").html(prodcuct);
      })
    }
  });

  $(document).ready(function(){
    var client = algoliasearch("YZO8M6AZ6J", "74516bbcef74ec917e2acbcd0df2df0f");
    var index = client.initIndex('carmanualslib');
    var searchBrand = $("#display_brand").val();
    if(searchBrand){
      var mainSearch = [], BrandArray = [];
      BrandArray.push("manualMake:"+searchBrand);
      mainSearch.push(BrandArray);
      index.search({
        query: searchBrand,
        hitsPerPage: 100,
        facetFilters: mainSearch,
        facets: ['manualMake','manualSerie','algoliaYears','algoliaPlatform','algoliaEngine']
      }).then(res => {
        var BrandText = ""
        var SeriesText = ""
        var EngineText = ""
        var YearText = ""
        var PlatformText = ""
        var manualBrand = res.facets['manualMake']
        var manualSerie = res.facets['manualSerie']
        var manualYear = res.facets['algoliaYears']
        var manaulPlatform = res.facets['algoliaPlatform']
        var manualEngine = res.facets['algoliaEngine'];
        $.each( manualBrand, function( key, value ) {
          BrandText += "<label class='container1'>"+key+"<input value='"+key+"' class='brand mySearch' type='checkbox' ><span class='checkmark'></span></label><br>";
          // BrandText += "<input type='checkbox' value='"+key+"' class='brand mySearch' /><span class='checkmark'></span>"+key+"<br>"
        });
        $(".brand_my").html(BrandText);

        $.each( manualSerie, function( key, value ) {
          SeriesText += "<label class='container1'>"+key+"<input value='"+key+"' class='series mySearch' type='checkbox' ><span class='checkmark'></span></label><br>";
          // SeriesText += "<input type='checkbox' value='"+key+"' class='series mySearch'> "+key+" ("+value+")<br>"
        });
        $(".series_my").html(SeriesText);

        $.each( manualEngine, function( key, value ) {
          EngineText += "<label class='container1'>"+key+"<input value='"+key+"' class='engine mySearch' type='checkbox' ><span class='checkmark'></span></label><br>";
          // SeriesText += "<input type='checkbox' value='"+key+"' class='series mySearch'> "+key+" ("+value+")<br>"
        });
        $(".engine_my").html(EngineText);

        // $.each( manualSuberie, function( key, value ) {
        //   SubseriesText += "<input type='checkbox' value='"+key+"' class='subseries mySearch'> "+key+" ("+value+")<br>"
        // });
        // $(".subserie_my").html(SubseriesText);
        //
        // $.each( manualBodyType, function( key, value ) {
        //   BodytypeText += "<input type='checkbox' value='"+key+"' class='bodytype mySearch'> "+key+" ("+value+")<br>"
        // });
        // $(".body_my").html(BodytypeText);
        //
        // $.each( manualFuelType, function( key, value ) {
        //   FueltypeText += "<input type='checkbox' value='"+key+"' class='fueltype mySearch'> "+key+" ("+value+")<br>"
        // });
        // $(".fueltype_my").html(FueltypeText);

        $.each( manualYear, function( key, value ) {
          YearText += "<label class='container1'>"+key+"<input value='"+key+"' class='manualyear mySearch' type='checkbox' ><span class='checkmark'></span></label><br>";
          // YearText += "<input type='checkbox' value='"+key+"' class='manualyear mySearch'> "+key+" ("+value+")<br>"
        });
        $(".year_my").html(YearText);

        $.each( manaulPlatform, function( key, value ) {
          PlatformText += "<label class='container1'>"+key+"<input value='"+key+"' class='platform mySearch' type='checkbox' ><span class='checkmark'></span></label><br>";
          // PlatformText += "<input type='checkbox' value='"+key+"' class='platform mySearch'> "+key+" ("+value+")<br>"
        });
        $(".platform_my").html(PlatformText);

        // $.each( manualPrice, function( key, value ) {
        //   PriceText += "<input type='checkbox' value='"+key+"' class='price mySearch'> "+key+" ("+value+")<br>"
        // });
        // $(".price_my").html(PriceText);

      });
    }else{
      var mainSearch = [], BrandArray = [];
      mainSearch.push(BrandArray);
      index.search({
        query: searchBrand,
        hitsPerPage: 100,
        facetFilters: mainSearch,
        facets: ['manualMake','manualSerie','algoliaYears','algoliaPlatform','algoliaEngine']
      }).then(res => {
        var BrandText = ""
        var SeriesText = ""
        var EngineText = ""
        var YearText = ""
        var PlatformText = ""
        var manualBrand = res.facets['manualMake']
        var manualSerie = res.facets['manualSerie']
        var manualYear = res.facets['algoliaYears']
        var manaulPlatform = res.facets['algoliaPlatform']
        var manualEngine = res.facets['algoliaEngine'];
        $.each( manualBrand, function( key, value ) {
          BrandText += "<label class='container1'>"+key+"<input value='"+key+"' class='brand mySearch' type='checkbox' ><span class='checkmark'></span></label><br>";
          // BrandText += "<input type='checkbox' value='"+key+"' class='brand mySearch' /><span class='checkmark'></span>"+key+"<br>"
        });
        $(".brand_my").html(BrandText);

        $.each( manualSerie, function( key, value ) {
          SeriesText += "<label class='container1'>"+key+"<input value='"+key+"' class='series mySearch' type='checkbox' ><span class='checkmark'></span></label><br>";
          // SeriesText += "<input type='checkbox' value='"+key+"' class='series mySearch'> "+key+" ("+value+")<br>"
        });
        $(".series_my").html(SeriesText);

        $.each( manualEngine, function( key, value ) {
          EngineText += "<label class='container1'>"+key+"<input value='"+key+"' class='engine mySearch' type='checkbox' ><span class='checkmark'></span></label><br>";
          // SeriesText += "<input type='checkbox' value='"+key+"' class='series mySearch'> "+key+" ("+value+")<br>"
        });
        $(".engine_my").html(EngineText);

        // $.each( manualSuberie, function( key, value ) {
        //   SubseriesText += "<input type='checkbox' value='"+key+"' class='subseries mySearch'> "+key+" ("+value+")<br>"
        // });
        // $(".subserie_my").html(SubseriesText);
        //
        // $.each( manualBodyType, function( key, value ) {
        //   BodytypeText += "<input type='checkbox' value='"+key+"' class='bodytype mySearch'> "+key+" ("+value+")<br>"
        // });
        // $(".body_my").html(BodytypeText);
        //
        // $.each( manualFuelType, function( key, value ) {
        //   FueltypeText += "<input type='checkbox' value='"+key+"' class='fueltype mySearch'> "+key+" ("+value+")<br>"
        // });
        // $(".fueltype_my").html(FueltypeText);

        $.each( manualYear, function( key, value ) {
          YearText += "<label class='container1'>"+key+"<input value='"+key+"' class='manualyear mySearch' type='checkbox' ><span class='checkmark'></span></label><br>";
          // YearText += "<input type='checkbox' value='"+key+"' class='manualyear mySearch'> "+key+" ("+value+")<br>"
        });
        $(".year_my").html(YearText);

        $.each( manaulPlatform, function( key, value ) {
          PlatformText += "<label class='container1'>"+key+"<input value='"+key+"' class='platform mySearch' type='checkbox' ><span class='checkmark'></span></label><br>";
          // PlatformText += "<input type='checkbox' value='"+key+"' class='platform mySearch'> "+key+" ("+value+")<br>"
        });
        $(".platform_my").html(PlatformText);

        // $.each( manualPrice, function( key, value ) {
        //   PriceText += "<input type='checkbox' value='"+key+"' class='price mySearch'> "+key+" ("+value+")<br>"
        // });
        // $(".price_my").html(PriceText);

      });
    }
  });

  $(document).on('click','.mySearch',function(){
    if(this.checked){
      var MainSearch = []
      var BrandSearch = [], BrandArray = [];
      var SeriesSearch = [], SeriesArray = [];
      var EngineSearch = [], EngineArray = [];
      var YearSerach = [], YearArray = [];
      var PlatformSearch = [], PlatformArray = [];
      if(searchBrand){
        BrandSearch.push("manualMake:"+searchBrand);
        $('.brand').each(function(){
          if (this.checked) {
            if(searchBrand == "Bmw"){
              BrandArray.push("BMW");
            }else{
              BrandArray.push(searchBrand);
            }
          }
        });
      }else{
        $('.brand').each(function(){
          if (this.checked) {
            BrandSearch.push("manualMake:"+$(this).val());
            BrandArray.push($(this).val());
          }
        });
      }
      $('.series').each(function(){
        if (this.checked) {
          SeriesSearch.push("manualSerie:"+$(this).val());
          SeriesArray.push($(this).val());
        }
      });
      $('.engine').each(function(){
        if (this.checked) {
          EngineSearch.push("algoliaEngine:"+$(this).val());
          EngineArray.push($(this).val());
        }
      });
      $('.manualyear').each(function(){
        if (this.checked){
          YearSerach.push("algoliaYears:"+$(this).val());
          YearArray.push($(this).val());
        }
      });
      $('.platform').each(function(){
        if (this.checked){
          PlatformSearch.push("algoliaPlatform:"+$(this).val());
          PlatformArray.push($(this).val());
        }
      });

      MainSearch.push(BrandSearch);
      MainSearch.push(SeriesSearch);
      MainSearch.push(EngineSearch);
      MainSearch.push(YearSerach);
      MainSearch.push(PlatformSearch);

      index.search({
        query: "",
        facetFilters: MainSearch,
        facets: ['manualMake','manualSerie','algoliaYears','algoliaPlatform','algoliaEngine']
      }).then(res => {
        console.log(res);
        var BrandText = ""
        var SeriesText = ""
        var EngineText = ""
        var YearText = ""
        var PlatformText = ""
        var manualBrand = res.facets['manualMake']
        var manualSerie = res.facets['manualSerie']
        var manualYear = res.facets['algoliaYears']
        var manaulPlatform = res.facets['algoliaPlatform']
        var manualEngine = res.facets['algoliaEngine'];

        $.each( manualBrand, function( key, value ) {
          if($.inArray(key,BrandArray) != -1){
            BrandText += "<label class='container1'>"+key+"<input value='"+key+"' checked='checked' class='brand mySearch' type='checkbox' ><span class='checkmark'></span></label><br>";
            // BrandText += "<input type='checkbox' checked='checked' value='"+key+"' class='brand mySearch'> "+key+" ("+value+")<br>"
          }else{
            BrandText += "<label class='container1'>"+key+"<input value='"+key+"' class='brand mySearch' type='checkbox' ><span class='checkmark'></span></label><br>";
            // BrandText += "<input type='checkbox' value='"+key+"' class='brand mySearch'> "+key+" ("+value+")<br>"
          }
        });
        $(".brand_my").html(BrandText);

        $.each( manualSerie, function( key, value ) {
          if($.inArray(key,SeriesArray) != -1){
            SeriesText += "<label class='container1'>"+key+"<input value='"+key+"' checked='checked' class='series mySearch' type='checkbox' ><span class='checkmark'></span></label><br>";
            // SeriesText += "<input type='checkbox' checked='checked' value='"+key+"' class='series mySearch'> "+key+" ("+value+")<br>"
          }else{
            SeriesText += "<label class='container1'>"+key+"<input value='"+key+"' class='series mySearch' type='checkbox' ><span class='checkmark'></span></label><br>";
            // SeriesText += "<input type='checkbox' value='"+key+"' class='series mySearch'> "+key+" ("+value+")<br>"
          }
        });
        $(".series_my").html(SeriesText);

        $.each( manualEngine, function( key, value ) {
          if($.inArray(key,EngineArray) != -1){
            EngineText += "<label class='container1'>"+key+"<input value='"+key+"' checked='checked' class='engine mySearch' type='checkbox' ><span class='checkmark'></span></label><br>";
            // SeriesText += "<input type='checkbox' checked='checked' value='"+key+"' class='series mySearch'> "+key+" ("+value+")<br>"
          }else{
            EngineText += "<label class='container1'>"+key+"<input value='"+key+"' class='engine mySearch' type='checkbox' ><span class='checkmark'></span></label><br>";
            // SeriesText += "<input type='checkbox' value='"+key+"' class='series mySearch'> "+key+" ("+value+")<br>"
          }
        });
        $(".engine_my").html(EngineText);

        // $.each( manualSuberie, function( key, value ) {
        //   if($.inArray(key,SubseriesArray) != -1){
        //     SubseriesText += "<input type='checkbox' checked='checked' value='"+key+"' class='subseries mySearch'> "+key+" ("+value+")<br>"
        //   }else{
        //     SubseriesText += "<input type='checkbox' value='"+key+"' class='subseries mySearch'> "+key+" ("+value+")<br>"
        //   }
        // });
        // $(".subserie_my").html(SubseriesText);
        //
        // $.each( manualBodyType, function( key, value ) {
        //   if($.inArray(key,BodytypeArray) != -1){
        //     BodytypeText += "<input type='checkbox' checked='checked' value='"+key+"' class='bodytype mySearch'> "+key+" ("+value+")<br>"
        //   }else{
        //     BodytypeText += "<input type='checkbox' value='"+key+"' class='bodytype mySearch'> "+key+" ("+value+")<br>"
        //   }
        // });
        // $(".body_my").html(BodytypeText);
        //
        // $.each( manualFuelType, function( key, value ) {
        //   if($.inArray(key,FuelArray) != -1){
        //     FueltypeText += "<input type='checkbox' checked='checked' value='"+key+"' class='fueltype mySearch'> "+key+" ("+value+")<br>"
        //   }else{
        //     FueltypeText += "<input type='checkbox' value='"+key+"' class='fueltype mySearch'> "+key+" ("+value+")<br>"
        //   }
        // });
        // $(".fueltype_my").html(FueltypeText);

        $.each( manualYear, function( key, value ) {
          if($.inArray(key,YearArray) != -1){
            YearText += "<label class='container1'>"+key+"<input value='"+key+"' class='manualyear mySearch' checked='checked' type='checkbox' ><span class='checkmark'></span></label><br>";
            // YearText += "<input type='checkbox' checked='checked' value='"+key+"' class='manualyear mySearch'> "+key+" ("+value+")<br>"
          }else{
            // YearText += "<input type='checkbox' value='"+key+"' class='manualyear mySearch'> "+key+" ("+value+")<br>"
            YearText += "<label class='container1'>"+key+"<input value='"+key+"' class='manualyear mySearch' type='checkbox' ><span class='checkmark'></span></label><br>";
          }
        });
        $(".year_my").html(YearText);

        $.each( manaulPlatform, function( key, value ) {
          if($.inArray(key,PlatformArray) != -1){
            PlatformText += "<label class='container1'>"+key+"<input value='"+key+"' class='platform mySearch' checked='checked' type='checkbox' ><span class='checkmark'></span></label><br>";
            // PlatformText += "<input type='checkbox' checked='checked' value='"+key+"' class='platform mySearch'> "+key+" ("+value+")<br>"
          }else{
            // PlatformText += "<input type='checkbox' value='"+key+"' class='platform mySearch'> "+key+" ("+value+")<br>"
            PlatformText += "<label class='container1'>"+key+"<input value='"+key+"' class='platform mySearch' type='checkbox' ><span class='checkmark'></span></label><br>";
          }
        });
        $(".platform_my").html(PlatformText);

        // $.each( manualPrice, function( key, value ) {
        //   if($.inArray(key,PriceArray) != -1){
        //     PriceText += "<input type='checkbox' checked='checked' value='"+key+"' class='price mySearch'> "+key+" ("+value+")<br>"
        //   }else{
        //     PriceText += "<input type='checkbox' value='"+key+"' class='price mySearch'> "+key+" ("+value+")<br>"
        //   }
        // });
        // $(".price_my").html(PriceText);
        var prodcuct = ""
        $.each(res.hits, function( i, val ){
          prodcuct += "<div class='pure-u-1-3'>"+
            "<div class='ibox'>"+
              "<div class='ibox-content product-box'>"+
                "<div class='product-imitation'>"+
                  "<a href='/"+val['url']+"/'><img src='"+val['imageCoverCatalog']+"' style='width:235px;height:401px;' alt='' ></a>"+
                "</div>"+
                "<div class='product-desc-cat'>"+
                  "<small class='text-muted'></small>"+
                  "<a href='/"+val['url']+"/' class='product-name'>"+val['manualTitle']+"</a>"+
                  "<p>Price: "+val['dataItemPrice']+"</p>"+
                "</div>"+
              "</div>"+
            "</div>"+
          "</div>";
        });
        $("#productdata").html(prodcuct);
      })
    }else{
      $(this).removeAttr( "checked" )
      var MainSearch = []
      var BrandSearch = [], BrandArray = [];
      var SeriesSearch = [], SeriesArray = [];
      var EngineSearch = [], EngineArray = [];
      var YearSerach = [], YearArray = [];
      var PlatformSearch = [], PlatformArray = [];

      if(searchBrand){
        BrandSearch.push("manualMake:"+searchBrand);
        $('.brand').each(function(){
          if (this.checked) {
            if(searchBrand == "Bmw"){
              BrandArray.push("BMW");
            }else{
              BrandArray.push(searchBrand);
            }
          }
        });
      }else{
        $('.brand').each(function(){
          if (this.checked) {
            BrandSearch.push("manualMake:"+$(this).val());
            BrandArray.push($(this).val());
          }
        });
      }
      $('.series').each(function(){
        if (this.checked) {
          SeriesSearch.push("manualSerie:"+$(this).val());
          SeriesArray.push($(this).val());
        }
      });
      $('.engine').each(function(){
        if (this.checked) {
          EngineSearch.push("algoliaEngine:"+$(this).val());
          EngineArray.push($(this).val());
        }
      });
      $('.manualyear').each(function(){
        if (this.checked){
          YearSerach.push("algoliaYears:"+$(this).val());
          YearArray.push($(this).val());
        }
      });
      $('.platform').each(function(){
        if (this.checked){
          PlatformSearch.push("algoliaPlatform:"+$(this).val());
          PlatformArray.push($(this).val());
        }
      });

      MainSearch.push(BrandSearch);
      MainSearch.push(SeriesSearch);
      MainSearch.push(EngineSearch);
      MainSearch.push(YearSerach);
      MainSearch.push(PlatformSearch);

      index.search({
        query: "",
        facetFilters: MainSearch,
        facets: ['manualMake','manualSerie','algoliaYears','algoliaPlatform','algoliaEngine']
      }).then(res => {
        // console.log(res);

        var BrandText = ""
        var SeriesText = ""
        var EngineText = ""
        var YearText = ""
        var PlatformText = ""
        var manualBrand = res.facets['manualMake']
        var manualSerie = res.facets['manualSerie']
        var manualYear = res.facets['algoliaYears']
        var manaulPlatform = res.facets['algoliaPlatform']
        var manualEngine = res.facets['algoliaEngine'];

        $.each( manualBrand, function( key, value ) {
          if($.inArray(key,BrandArray) != -1){
            BrandText += "<label class='container1'>"+key+"<input value='"+key+"' checked='checked' class='brand mySearch' type='checkbox' ><span class='checkmark'></span></label><br>";
            // BrandText += "<input type='checkbox' checked='checked' value='"+key+"' class='brand mySearch'> "+key+" ("+value+")<br>"
          }else{
            BrandText += "<label class='container1'>"+key+"<input value='"+key+"' class='brand mySearch' type='checkbox' ><span class='checkmark'></span></label><br>";
            // BrandText += "<input type='checkbox' value='"+key+"' class='brand mySearch'> "+key+" ("+value+")<br>"
          }
        });
        $(".brand_my").html(BrandText);

        $.each( manualSerie, function( key, value ) {
          if($.inArray(key,SeriesArray) != -1){
            SeriesText += "<label class='container1'>"+key+"<input value='"+key+"' checked='checked' class='series mySearch' type='checkbox' ><span class='checkmark'></span></label><br>";
            // SeriesText += "<input type='checkbox' checked='checked' value='"+key+"' class='series mySearch'> "+key+" ("+value+")<br>"
          }else{
            SeriesText += "<label class='container1'>"+key+"<input value='"+key+"' class='series mySearch' type='checkbox' ><span class='checkmark'></span></label><br>";
            // SeriesText += "<input type='checkbox' value='"+key+"' class='series mySearch'> "+key+" ("+value+")<br>"
          }
        });
        $(".series_my").html(SeriesText);

        $.each( manualEngine, function( key, value ) {
          if($.inArray(key,SeriesArray) != -1){
            EngineText += "<label class='container1'>"+key+"<input value='"+key+"' checked='checked' class='engine mySearch' type='checkbox' ><span class='checkmark'></span></label><br>";
            // SeriesText += "<input type='checkbox' checked='checked' value='"+key+"' class='series mySearch'> "+key+" ("+value+")<br>"
          }else{
            EngineText += "<label class='container1'>"+key+"<input value='"+key+"' class='engine mySearch' type='checkbox' ><span class='checkmark'></span></label><br>";
            // SeriesText += "<input type='checkbox' value='"+key+"' class='series mySearch'> "+key+" ("+value+")<br>"
          }
        });
        $(".engine_my").html(EngineText);

        // $.each( manualSuberie, function( key, value ) {
        //   if($.inArray(key,SubseriesArray) != -1){
        //     SubseriesText += "<input type='checkbox' checked='checked' value='"+key+"' class='subseries mySearch'> "+key+" ("+value+")<br>"
        //   }else{
        //     SubseriesText += "<input type='checkbox' value='"+key+"' class='subseries mySearch'> "+key+" ("+value+")<br>"
        //   }
        // });
        // $(".subserie_my").html(SubseriesText);
        //
        // $.each( manualBodyType, function( key, value ) {
        //   if($.inArray(key,BodytypeArray) != -1){
        //     BodytypeText += "<input type='checkbox' checked='checked' value='"+key+"' class='bodytype mySearch'> "+key+" ("+value+")<br>"
        //   }else{
        //     BodytypeText += "<input type='checkbox' value='"+key+"' class='bodytype mySearch'> "+key+" ("+value+")<br>"
        //   }
        // });
        // $(".body_my").html(BodytypeText);
        //
        // $.each( manualFuelType, function( key, value ) {
        //   if($.inArray(key,FuelArray) != -1){
        //     FueltypeText += "<input type='checkbox' checked='checked' value='"+key+"' class='fueltype mySearch'> "+key+" ("+value+")<br>"
        //   }else{
        //     FueltypeText += "<input type='checkbox' value='"+key+"' class='fueltype mySearch'> "+key+" ("+value+")<br>"
        //   }
        // });
        // $(".fueltype_my").html(FueltypeText);

        $.each( manualYear, function( key, value ) {
          if($.inArray(key,YearArray) != -1){
            YearText += "<label class='container1'>"+key+"<input value='"+key+"' class='manualyear mySearch' checked='checked' type='checkbox' ><span class='checkmark'></span></label><br>";
            // YearText += "<input type='checkbox' checked='checked' value='"+key+"' class='manualyear mySearch'> "+key+" ("+value+")<br>"
          }else{
            // YearText += "<input type='checkbox' value='"+key+"' class='manualyear mySearch'> "+key+" ("+value+")<br>"
            YearText += "<label class='container1'>"+key+"<input value='"+key+"' class='manualyear mySearch' type='checkbox' ><span class='checkmark'></span></label><br>";
          }
        });
        $(".year_my").html(YearText);

        $.each( manaulPlatform, function( key, value ) {
          if($.inArray(key,PlatformArray) != -1){
            PlatformText += "<label class='container1'>"+key+"<input value='"+key+"' class='platform mySearch' checked='checked' type='checkbox' ><span class='checkmark'></span></label><br>";
            // PlatformText += "<input type='checkbox' checked='checked' value='"+key+"' class='platform mySearch'> "+key+" ("+value+")<br>"
          }else{
            // PlatformText += "<input type='checkbox' value='"+key+"' class='platform mySearch'> "+key+" ("+value+")<br>"
            PlatformText += "<label class='container1'>"+key+"<input value='"+key+"' class='platform mySearch' type='checkbox' ><span class='checkmark'></span></label><br>";
          }
        });
        $(".platform_my").html(PlatformText);

        // $.each( manualPrice, function( key, value ) {
        //   if($.inArray(key,PriceArray) != -1){
        //     PriceText += "<input type='checkbox' checked='checked' value='"+key+"' class='price mySearch'> "+key+" ("+value+")<br>"
        //   }else{
        //     PriceText += "<input type='checkbox' value='"+key+"' class='price mySearch'> "+key+" ("+value+")<br>"
        //   }
        // });
        // $(".price_my").html(PriceText);

        var prodcuct = ""
        $.each(res.hits, function( i, val ){
          prodcuct += "<div class='pure-u-1-3'>"+
            "<div class='ibox'>"+
              "<div class='ibox-content product-box'>"+
                "<div class='product-imitation'>"+
                  "<a href='/"+val['url']+"/'><img src='"+val['imageCoverCatalog']+"' style='width:235px;height:401px;' alt='' ></a>"+
                "</div>"+
                "<div class='product-desc-cat'>"+
                  "<small class='text-muted'></small>"+
                  "<a href='/"+val['url']+"/' class='product-name'>"+val['manualTitle']+"</a>"+
                  "<p>Price: "+val['dataItemPrice']+"</p>"+
                "</div>"+
              "</div>"+
            "</div>"+
          "</div>";
        });
        $("#productdata").html(prodcuct);
      })
    }
  });
</script>
