<div class="pure-g">
  <div class="pure-u-1-2">
    <div class="panel">
      <div class="panel-heading">
          <h3 class="panel-title my-active" style="padding-left: 80px;">Car Specification</h3>
      </div>
      <div style="padding-left:96px;">
        <div style="padding-top:27px;">
          <table width="70%" class="borderless" style="">
            <tr>
              <td class="gcm-header">Make</td>
              <td>{{ .Params.manual }}</td>
            </tr>
            <tr>
              <td class="gcm-header">Serie</td>
              <td>{{ .Params.series }}</td>
            </tr>
            <tr>
              <td class="gcm-header">Sub-serie</td>
              <td>{{ .Params.subseries }}</td>
            </tr>
            <tr>
              <td class="gcm-header">Platform</td>
              <td>{{ .Params.platform }}</td>
            </tr>
            <!-- <tr>
              <td class="gcm-header">Engine</td>
              <td>{{ .Params.engine }}</td>
            </tr> -->
            <tr>
              <td class="gcm-header">Year</td>
              <td>{{ .Params.manualyear }}</td>
            </tr>
            <tr>
              <td class="gcm-header">Body Type</td>
              <td>{{ .Params.bodytype }}</td>
            </tr>
            <tr>
              <td class="gcm-header">Fuel Type</td>
              <td>{{ .Params.fueltype }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="pure-u-1-2">
      {{ partial "partial_download.html" . }}
  </div>
</div>
